.titulo {
  color: red;
}

.icono {
  font-size: 30px;
  color: white;
}

.resetTitle {
  text-decoration: none;
  color: white;
}

.resetTitle:hover {
  text-decoration: none;
  color: white;
}

.resetColor {
  text-decoration: none;
  color: white;
}

.resetColor:hover {
  color: white;
  text-decoration: underline;
}

.card-margin {
  margin: 20px 0;
}

.img-size {
  width: 30%;
  height: 30%;
}
