body {
  background: linear-gradient(
    90deg,
    rgba(0, 22, 20, 1) 0%,
    rgba(0, 69, 83, 1) 0%,
    rgba(0, 34, 41, 1) 0%
  );
}

.icono {
  font-size: 30px;
  color: white;
}

.resetTitle {
  text-decoration: none;
  color: white;
}

.resetTitle:hover {
  text-decoration: none;
  color: white;
}

.resetColor {
  text-decoration: none;
  color: white;
}

.resetColor:hover {
  color: white;
  text-decoration: underline;
}

.card-margin {
  margin: 20px 0px;
}

.img-cover {
  object-fit: cover;
  height: 22rem;
  width: 16rem;
}
